<% provide(:title, "About") %>
<h1>About</h1>
<p>
The Alternate Language Study Option (ALSO) program is a self-instructional/peer-tutored language learning program designed for highly self-motivated and disciplined students who want to learn a language not taught through the regular curriculum at Grinnell. The program provides a two-semester sequence of beginning level study in several languages, including but not limited to Italian, Portuguese, Korean, Hindi, and Kiswahili. The specific languages offered depend on the number of students interested and the availability of trained peer tutors.
<br><br>
Students attend a mandatory orientation at the beginning of the semester with the program Director to learn tools and strategies for independent study and for documenting and self-assessing learning. Intermediate level students also document and assess their own growth; in addition, they are formally assessed with an Oral Proficiency Interview at the end of the second semester. Advanced students work with the Director to select learning goals and materials for study and are likewise formally assessed. 
<br><br>
Students interested in starting a beginning course may preregister for ALS-100. Students wishing to learn at a more advanced level should email the director.
</p>
