<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>ALSO program department contact information: </p>
<p>patchkat@grinnell.edu</p>
<p>Phone (641) 269-4740</p>
<p>Fax (641) 269-4985</p>
<br>
<p>Website technical problem contact information</p>
<p>yancarolfake@grinnell.edu</p>
<p>phone (002) 515-51515</p>

