<% provide(:title, "Help") %>
      <h1>Help</h1>
      <p>  
        Get help on the Ruby on Rails Tutorial at the
        <a href="https://www.railstutorial.org/help">Rails Tutorial help section</a>.
	To get help on this sample app, see the
	<a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    book</a>.</br>
  If you require additional academic help, please contact Chinese Department at Grinnell College or your Chinese professor. Chinese Labs are held Sunday through Thursday 8-10 pm and could be another source if you require assistance. 
  If you require additional technical help, please contact Carol Yan (yanxinyi@grinnell.edu) or ITS if the issue is urgent.
  
      </p>
