<div class="center jumbotron">
  <h1>Welcome to Grinnell Language Lab</h1>

  <%= image_tag("G_logo.png", :alt => "logo feed", :size => "260x250", :align => "middle")%>
  <br><br>
  <div class="btn-group", style:{padding-top: 25px;}>
    <%= link_to "Tutee Log In", signup_path, class: "btn btn-lg btn-primary", :align => "middle" %>
    <%= link_to "Tutor Log In", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Professor Log In", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

