<div class="center jumbotron">
  <h1>Welcome to Grinnell Language Lab</h1>

  <%= image_tag("G_logo.png", :alt => "Grinnell logo feed", :size => "260x250", :align => "middle")%>
  <br><br>
  <div class="btn-group", style:{padding-top: 25px;}>
    <%= link_to "Tutee Log In", login_path, class: "btn btn-lg btn-primary", :align => "middle" %>
    <%= link_to "Tutor Log In", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Professor Log In", login_path, class: "btn btn-lg btn-primary" %>
  </div>
  <p>Chinese Labs are organized by Chinese department at Grinnell College Alternate Language Study Option (ALSO). Grinnell College owns the final explaination of all events.</p>
</div>

