@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
  padding-top: 60px;
  color: #000;
  background: #000;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
  color: #bbb;
}

.container {
  background-color: #1c1c1c;
}


a {
  color: #ffd100;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

.jumbotron {
  background-color: #1c1c1c;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #bbb;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #bbb;
}

p {
  font-size: 1.5em;
  color: #bbb;
  line-height: 1.8em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #ffd100;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: underline;
}

.navbar-nav {
  font-size: 1.7em;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* side bar*/
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom:
      3px;
      line-height:
      1;

    }

    h1
    {
      font-size:
      1.4em;
      text-align:
      left;
      letter-spacing:
      -1px;
      margin-bottom:
      3px;
      margin-top:
      0px;
    }
  }
}

.gravatar
{
  float:
  left;
  margin-right:
  10px;
}

.gravatar_edit
{
  margin-top:
  15px;
}

/* Users Index*/
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

